body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    padding-left: 30px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    color: blue;
}

ul {
    list-style: none;
}

input + h1 {
    text-align: left;
}

#validation-input {
    border: 3px solid #bdbdbd;
}
  
#validation-input.valid {
  border-color: #4caf50;
}
  
#validation-input.invalid {
  border-color: #f44336;
}